body {
  font-family: 'Roboto', sans-serif;
  background: #3e54a5;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #3e54a5 0%, #1d8bcb 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #3e54a5 0%, #1d8bcb 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #3e54a5 0%, #1d8bcb 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3e54a5', endColorstr='#6083ff', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.container {
  width: 800px;
  max-width: 90%;
  position: relative;
  margin: 50px auto;
  padding: 20px 36px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
}
.container #back {
  position: absolute;
  top: 30px;
  left: 20px;
  color: #1d8bcb;
  font-size: 20px;
  display: none;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}
.container #back:hover {
  cursor: pointer;
  transform: rotate(180deg);
}
.container img {
  width: 180px;
  margin: 20px;
}
.container h1 {
  margin: 0;
  font-weight: 400;
  font-size: 30px;
  margin: 10px 0;
  color: #333333;
}
.container p,
.container label {
  margin: 24px;
  font-weight: 300;
  font-size: 18px;
  color: #333333;
}
.container p a,
.container label a {
  color: #1d8bcb;
  text-decoration: none;
}
.container p a:hover,
.container label a:hover {
  text-decoration: underline;
}
.container h2,
.container h3 {
  font-weight: 400;
  color: #333333;
}
.container .button {
  width: 250px;
  font-size: 20px;
  font-weight: 300;
  color: #1d8bcb;
  border: 1px solid #1d8bcb;
  border-radius: 10px;
  padding: 10px;
  background: white;
  margin: 30px auto;
  transition: all 0.3s ease-in-out;
}
.container .button:hover {
  cursor: pointer;
  background-color: #1d8bcb;
  color: #ffffff;
  transform: translateX(5px);
}
.line {
  height: 1px;
  border-top: 1px solid #1d8bcb;
}
#home {
  transition: all 0.3s cubic-bezier(0.6, -0.28, 0.74, 0.05);
  webkit-transition: all 0.3s cubic-bezier(0.6, -0.28, 0.74, 0.05);
  opacity: 1;
}
.slide {
  -webkit-transform: translate(-150px) !important;
  transform: translate(-150px) !important;
  opacity: 0 !important;
}
.marketing,
.viewing,
.information,
.examples {
  display: none;
}
.marketing h2,
.viewing h2,
.information h2,
.examples h2 {
  padding-top: 20px;
  margin-top: 10px;
  border-top: 1px solid #1d8bcb;
}
input {
  font-family: 'Roboto', sans-serif;
}
input[type="submit"],
.homebutton {
  background: #1d8bcb !important;
  color: white !important;
  margin-top: 0 !important;
}
input[type="submit"]:hover,
.homebutton:hover {
  transform: translate(0, -5px) !important;
}
hr {
  border: 1px solid #1d8bcb;
  margin: 0;
}
.settingsWrapper {
  text-align: left;
}
.settingsWrapper p {
  font-size: 15px;
}
.settingsWrapper input,
.settingsWrapper textarea {
  width: 40%;
  padding: 10px;
  outline: 0;
  border: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 15px;
}
.settingsWrapper input:hover,
.settingsWrapper textarea:hover,
.settingsWrapper input:focus,
.settingsWrapper textarea:focus {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
}
.settingsWrapper textarea {
  margin-bottom: -10px;
}
.settingsWrapper input[type="checkbox"] {
  width: auto;
  border: 0;
  box-shadow: none;
  color: #333333;
  font-weight: 400;
  margin: 0 10px;
}
.navigation {
  display: flex;
  justify-content: space-around;
}
.navigation a {
  color: #1d8bcb;
}
